[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "==3.3.1"
scipy = "*"
nbqa = "*"
mypy = "*"
jupytext = "*"
pandas = "*"
pymc3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
